@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 200px;
}

.box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: "Roboto Flex", "san-serif";
  border: 1px solid #ccc;
  text-align: center;
}

.input {
  background-color: #ffffff;
  letter-spacing: 2px;
}

.input:focus {
  outline: 2px solid #85BBF6;
}

.result {
  background-color: rgba(0, 0, 0, 0.45);
  border: none;
  color: #fff;
}